DATABASE_URL="postgresql://postgres:..."
PORT=8080
# Para gerar chaves seguras, rode no terminal (duas vezes): node -e "console.log(require('crypto').randomBytes(64).toString('hex'))".
JWT_ACCESS_TOKEN_SECRET="gere_uma_chave_secreta_aqui"
JWT_REFRESH_TOKEN_SECRET="gere_uma_chave_secreta_aqui"