# Ignore node_modules
node_modules

# Ignore build output
/generated/prisma

# Ignore environment variables
.env
.env.test

# Ignore agents
agents

# Coverage directory used by tools like istanbul
coverage
.vercel
